# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WebPages\php-order-form\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
